@import "./screens/login/index.scss";


@font-face {
  font-family: 'HVD_Comic_Serif_Pro';
  src: url("../assets/font/HVD_Comic_Serif_Pro.otf");
}

@font-face {
  font-family: 'SnowDream';
  src: url("../assets/font/SnowDream.TTF");
}

* {
  margin:0;
  padding:0;
}

